{% extends 'base.html' %}

{% block content %}
<h1>Welcome to My Homepage</h1>
<p>Hello! My name is <strong>Taneisha Banks</strong></p>
<p>This is my Django static pages application for my web development class.</p>
<p>I'm learning how to use Django's template system with template inheritance!</p>

<div style="margin-top: 30px; padding: 15px; background-color: #e7f3ff; border-left: 4px solid #007cba;">
    <p><strong>What you'll find here:</strong></p>
    <ul>
        <li>A home page (this page!)</li>
        <li>An about page with an interesting fact about me</li>
        <li>Template inheritance using Django's {% templatetag openblock %} extends {% templatetag closeblock %} feature</li>
    </ul>
</div>
{% endblock content %}